{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome to the Home Page</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="error-banner" id="error-banner">
                    <span class="close-btn" onclick="closeErrorBanner()">x</span>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
<p>hi CALPIRG</p>
{% endblock %}